{% extends 'base.html' %}
{% block title %}
Lesley & Pedro's Guest Book
{% endblock %}

{% block content %}
<div class="container-fluid cool-header text-center p-5 mx-0 mb-5">
    <div class="cool-bg"></div>
    <div class="cool-text">
        <h1 class="display-3 font-weight-bold">Welcome to our guest book!</h1>
        <h1 class="display-6">Falmouth, MA</h1>
        <h1 class="display-6">10.01.2020</h1>
    </div>

</div>
<div class="row justify-content-center">
    <div class="col col-xs-12 col-sm-11 col-md-10 col-lg-8 col-xl-6">
        <form method="POST" id="guestbook_form">
            {{form.hidden_tag() }}
            {% for field in form
                if field.widget.input_type != 'hidden' %}
            <p>
                {{ field.label }}
                {{ field(class_="form-control") }}
        
                {% for error in field.errors %}
                <span class="text-danger">{{ error }}</span>
                {% endfor %}
            </p>
            {% endfor %}
        
          <button class="btn btn-primary btn-lg btn-block">Send | Enviar</button>
        </form>
    </div>
</div>
{% endblock %}